body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*   my custom stuff  */

ul {
    list-style-type: none;
    margin: -10px;
    padding: 0;
    overflow: hidden;
    margin: 20px;
}

li {
    float: right;
    display: inline;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: Arial;
    }

        li a:hover {
            background-color: blueviolet;
        }

.mega-search-library {
    font-family: 'Baskerville Old Face';
    text-align: center;
    font-size: 20px;
    padding: 25px;
}

.navbar-mid-library {
    background-color: #81ba49;
}

.navbar-header-library {
    background-color: #265069;
}

.footer-library {
    text-align: center;
    padding: 3px;
    background-color: #265069;
    color: white;
}
